<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
	<title>Gulde final</title>
	<style type="text/css">
		body{

			background-image: url("img/kid.jpg");
			background-size: cover;
		}


	</style>
	</style>
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<audio autoplay>
	<source src="mp3/xmen.mp3" type="audio/mp3">
</audio>
<div class="w3-bar w3-black">
  <a href="/app" class="w3-bar-item w3-button">Home</a>
  <a href="/app1" class="w3-bar-item w3-button">X-MEN</a>
  <a href="/app2" class="w3-bar-item w3-button">X-MEN 2</a>
  <a href="/app3" class="w3-bar-item w3-button">X-MEN THE LAST STAND</a>
  <a href="/app5" class="w3-bar-item w3-button">X-MEN APOCALYPSE</a>
</div>

</body>
</html>
